{% extends "layout.html" %}

{% block content %}
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Сброс пароля</h2>

                            {% if validlink %}
                                <p class="text-white-50 mb-5">Введите (и подтвердите) ваш новый пароль.</p>

                                <form action="" method="post">
                                    {% csrf_token %}

                                    <div class="form-outline form-white mb-4">
                                        <input type="password" id="id_new_password1" class="form-control form-control-lg" placeholder="Пароль" name="new_password1" required />
                                        <label class="form-label" for="id_new_password1">Пароль</label>
                                    </div>
    
                                    <div class="form-outline form-white mb-4">
                                        <input type="password" id="id_new_password2" class="form-control form-control-lg" placeholder="Пароль ещё раз" name="new_password2" required />
                                        <label class="form-label" for="id_new_password2">Пароль ещё раз</label>
                                    </div>

                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Изменить пароль</button>

                                    {% if form.errors %}
                                        <div class="pt-3 text-color-error">
                                        {% for field, errors in form.errors.items %}
                                            {% for error in errors %}
                                                <p>{{ error }}</p>
                                            {% endfor %}
                                        {% endfor %}
                                        </div>
                                    {% endif %}

                                </form>
                            {% else %}
                                <p class="pt-3 text-color-error">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</section>

{% endblock %}