{% extends 'project/layout.html' %}

{% block breadcrumps_projects %}
    <h1 class="h2">
        <a href="{% url 'index' %}">Проекты</a> ::
        {% if project %} {{ project.name }} {% else %} Новый {% endif %}
    </h1>
{% endblock %}

{% block content_projects %}

    <form action="" method="post">
        {% csrf_token %}

        <div class="form-outline form-white mb-4">
            <label class="form-label" for="{{ form.name.id_for_label }}"><b>Название проекта</b></label>
            {{ form.name }}
            {{ form.name.errors }}
        </div>

        <div class="form-outline form-white mb-4">
            <label class="form-label" for="{{ form.url.id_for_label }}"><b>Url</b></label>
            {{ form.url }}
            {{ form.url.errors }}
        </div>
        
        <div class="form-outline form-white mb-4">
            <label class="form-label" for="{{ form.types.id_for_label }}"><b>Тип</b></label>
            {{ form.types }}
            <small>Используйте Ctrl+ чтобы выбрать несколько пунктов в списке</small>
            {{ form.types.errors }}
        </div>
        
        <div class="form-outline form-white mb-4">
            <label class="form-label" for="{{ form.regions.id_for_label }}"><b>Регион</b></label>
            {{ form.regions }}
            <small>Используйте Ctrl+ чтобы выбрать несколько пунктов в списке</small>
            {{ form.regions.errors }}
        </div>

        
        <div class="form-outline form-white mb-4">
            <label class="form-label" for="{{ form.is_service.id_for_label }}"><b>Служебный</b></label>
            <p>{{ form.is_service }}</p>
            {{ form.is_service.errors }}
        </div>

        <br>

        <div class="row">
            <div class="col-6">
                <button class="btn btn-success px-5" type="submit">Сохранить</button>
            </div>
            <div class="col-6 text-end">
                {% if project %}
                    <a href="{% url 'project_delete' pk=project.pk %}" class="btn btn-danger px-5" onclick="return confirm('Вы уверены, что хотите удалить проект?')">Удалить</a>
                {% endif %}
            </div>
        </div>

        {% comment %} {% if form.errors %}
            <div class="pt-3 text-color-error">
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
            </div>
        {% endif %} {% endcomment %}

    </form>

{% endblock %}