{% extends 'project/layout.html' %}

{% block breadcrumps_projects %}
    <h1 class="h2">
        <a href="{% url 'index' %}">Проекты</a> ::
        {{ project.name }}
    </h1>
{% endblock %}

{% block content_projects %}

    <div class="row">
        <div class="col-12">
            {% if project.url %}
                <p><a href="https://{{ project.url|cut:'https://' }}">{{ project.url }}</a></p>
            {% endif %}
            <p>
                {% for type in project.types.all %}
                    <span class="badge bg-secondary">{{ type }}</span>
                {% endfor %}
            </p>
            <p>
                {% for region in project.regions.all %}
                    <span class="badge bg-secondary">{{ region }}</span>
                {% endfor %}
            </p>
            {% if project.is_service %}
                <p><span class="badge bg-danger">служебный</span></p>
            {% endif %}
        </div>
    </div>

    <hr>
    <br>

    <div class="row">
        {% if project.author_id == user.pk %}
        <div class="col-4">
            <h5 class="mb-4">Пользователи</h5>

            {% for user in project.users.all %}
                <div class="input-group mb-3">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user.username }}</button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{% url 'remove_from_project' pk=project.id user_id=user.id %}" onclick="return confirm('Вы уверены?')"><i class="bi bi-trash"></i> Исключить из проекта</a>
                        </li>
                    </ul>
                </div>
                {% endfor %}


            <a href="{% url 'project_invite' pk=project.id %}">Пригласить</a>
        </div>
        {% endif %}


        <div class="col-{% if project.author_id == user.pk %}8{% else %}12{% endif %}">
            <h5 class="mb-4">Сервисы</h5>

                {% for service in project.services.all %}
                <div class="input-group mb-3">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{ service.name }}</button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{% url 'project_run_service' pk=project.id service_id=service.id %}"><i class="bi bi-play-circle"></i> Запустить</a>
                        </li>
<!--                        {% if service.site %}-->
<!--                             <li>-->
<!--                                <a class="dropdown-item"  target="_blank" href="{{service.site}}"><i class="bi bi-globe"></i> Сайт</a>-->
<!--                            </li>-->
<!--                        {% endif %}-->
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="{% url 'project_service_journal' pk=project.id service_id=service.id %}"><i class="bi bi-journal-check"></i> Журнал</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="{% url 'project_connect_service' pk=project.id service_id=service.id %}"><i class="bi bi-gear"></i> Настройки</a>
                        </li>
                        {% if project.author_id == user.pk %}
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="{% url 'project_disconnect_service' pk=project.id service_id=service.id %}" onclick="return confirm('Вы уверены?')"><i class="bi bi-trash"></i> Отключить</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                {% endfor %}

            <a href="{% url 'project_connect_service' pk=project.id %}">Подключить</a>
        </div>
    </div>

{% endblock %}