{% extends 'project/layout.html' %}

{% block breadcrumps_projects %}
    <h1 class="h2">
        <a href="{% url 'index' %}">Проекты</a> ::
        {{ project.name }}
    </h1>
{% endblock %}

{% block content_projects %}

    <div class="row">
        <div class="col-12">
            {% if project.url %}
                <p><a href="{{ project.url }}">{{ project.url }}</a></p>
            {% endif %}
            <p>
                {% for type in project.types.all %}
                    <span class="badge bg-secondary">{{ type }}</span>
                {% endfor %}
            </p>
            <p>
                {% for region in project.regions.all %}
                    <span class="badge bg-secondary">{{ region }}</span>
                {% endfor %}
            </p>
            {% if project.is_service %}
                <p><span class="badge bg-danger">служебный</span></p>
            {% endif %}
        </div>
    </div>

    <hr>
    <br>

    <div class="row">
        <div class="col-4">
            <h5>Пользователи</h5>

            <ul>
                <li>...</li>
                <li>...</li>
                <li>...</li>
            </ul>

            {% if project.author_id == user.pk %}
            <a href="{% url 'project_invite' pk=project.id %}">Пригласить</a>
            {% endif %}
        </div>

        <div class="col-4">
            <h5>Метрики</h5>


        </div>

        <div class="col-4">
            <h5>Задачи</h5>


        </div>
    </div>

{% endblock %}