{% extends 'project/layout.html' %}

{% block breadcrumps_projects %}
    <h1 class="h2">
        <a href="{% url 'index' %}">Проекты</a> ::
        <a href="{% url 'project_detail' pk=project.id %}">{{ project.name }}</a> ::
        Пригласить пользователя
    </h1>
{% endblock %}

{% block content_projects %}

    <form action="" method="post">
        {% csrf_token %}

        <div class="form-outline form-white mb-4">
            <label class="form-label" for="{{ form.email.id_for_label }}"><b>Email</b></label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>

        <div class="row">
            <div class="col-12">
                <button class="btn btn-success px-5" type="submit">Отправить</button>
            </div>
        </div>

  </form>

{% endblock %}