{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Material Design Dropdown with Search and Multi-Select</title>
    <!-- Material Design CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/main.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/duDatepicker.min.css'%}">
    <script src="{% static 'js/duDatepicker.min.js'%}"></script>

    <!-- Material Design JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>
<div class="container">
    <div class="row">
        <div class="col s4">
            <label>Select options:</label>
            <a class="dropdown-trigger btn" href="#" data-target="filter-client-list">CLIENTS</a>
            <ul id="filter-client-list" class="dropdown-content options-dropdown">
                <li class="search-wrap">
                    <div class="input-field">
                        <i class="material-icons prefix">search</i>
                        <input type="search" class="search-box" autocomplete="off">
                        <label for="search-box">Search</label>
                    </div>
                    <div class="search-result"></div>
                </li>
            </ul>
            <div class="selected-options"></div>
        </div>
        <div class="col s4">
            <label>Select options:</label>
            <a class="dropdown-trigger btn" href="#" data-target="filter-money-sites-list">MONEY SITES</a>
            <ul id="filter-money-sites-list" class="dropdown-content options-dropdown">
                <li class="search-wrap">
                    <div class="input-field">
                        <i class="material-icons prefix">search</i>
                        <input type="search" class="search-box" autocomplete="off">
                        <label for="search-box">Search</label>
                    </div>
                    <div class="search-result"></div>
                </li>
            </ul>
            <div class="selected-options"></div>
        </div>
        <div class="col s4">
            <input type="text" id="datepicker" class="form-control">
        </div>

    </div>
    <div class="row p-5">
        <div class="col s4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title  text-muted text-center">Новых PBN-доменов</h5>
                    <h6 class="card-subtitle mb-2 text-center" id="count_new_domains"><strong>0</strong></h6>
                </div>
            </div>
        </div>
        <div class="col s-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-muted text-center">Публикаций</h5>
                    <h6 class="card-subtitle mb-2 text-center" id="count_publications"><strong>0</strong></h6>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-muted text-center">Новых публикаций</h5>
                    <h6 class="card-subtitle mb-2 text-center" id="count_new_publications"><strong>0</strong></h6>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col s12">
            <h2 class="text-center">Клиенты и публикации</h2>
            <canvas id="publicationChart"></canvas>

        </div>
    </div>
    <div class="row pt-5">
        <div class="col">
            <h2 class="text-center">Домены PBN и публикации</h2>
            <table id="table_domain_and_pbn" class="table table-bordered table-striped table-hover  table-responsive">
                <thead>
                <tr>
                    <th>Клиент</th>
                    <th>Домен PBN</th>
                    <th>Дата создания</th>
                    <th>Всего публикаций</th>
                    <th>Последняя публикациия</th>
                    <th>Дней с последней публикации</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <nav id="pagination_domain_and_pbn" aria-label="Page navigation">
                <ul class="pagination"></ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="text-center">Ссылки на money-site</h2>
            <table id="table_links_to_money_sites"
                   class="table table-bordered table-striped table-hover table-overflow ">
                <thead>
                <tr>
                    <th>Ссылка-донор</th>
                    <th>Акнкор</th>
                    <th>Ссылка на money-site</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <nav id="pagination_links_to_money_sites" aria-label="Page navigation">
                <ul class="pagination"></ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="text-center">Анкоры</h2>
            <table id="table_anchor_counter" class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>Акнкор</th>
                    <th>Домен</th>
                    <th>Количество ссылок с анкор</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <nav id="pagination_anchor_counter" aria-label="Page navigation">
                <ul class="pagination"></ul>
            </nav>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        document.querySelector('#datepicker').addEventListener('datechanged', function (e) {
            console.log('New date', e.data, this.value)
        })

        duDatepicker('#datepicker', {
            format: 'mmmm d, yyyy', range: true, clearBtn: true,
            events: {
                dateChanged: function (data) {
                    log('From: ' + data.dateFrom + '\nTo: ' + data.dateTo)
                },
                onRangeFormat: function (from, to) {
                    var fromFormat = 'mmmm d, yyyy', toFormat = 'mmmm d, yyyy';

                    if (from.getMonth() === to.getMonth() && from.getFullYear() === to.getFullYear()) {
                        fromFormat = 'mmmm d'
                        toFormat = 'd, yyyy'
                    } else if (from.getFullYear() === to.getFullYear()) {
                        fromFormat = 'mmmm d'
                        toFormat = 'mmmm d, yyyy'
                    }

                    return from.getTime() === to.getTime() ?
                        this.formatDate(from, 'mmmm d, yyyy') :
                        [this.formatDate(from, fromFormat), this.formatDate(to, toFormat)].join('-');
                }
            }
        })
    };

</script>

</body>

</html>
