{% extends 'lookerstudio/layout.html' %}

{% load static %}

{% block h1 %}
  Отчёт
{% endblock %}

{% block js %}
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
  <script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
  <script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">

        <div class="card card-secondary mb-4">
            <div class="card-header">
                <h3 class="card-title">Фильтрация</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="remove" style="visibility:hidden">
                        <i class="fas fa-times"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3">

                        <div class="form-group">
                            <label>Clients</label>
                            <select class="select2bs4"
                                    multiple="multiple"
                                    data-placeholder="Select a clients"
                                    data-target="filter-client-list"
                                    id="filter-client-list"
                            >
                            </select>
                        </div>

<!--                        <a class="dropdown-trigger btn btn-success" href="#" data-target="filter-client-list">CLIENTS</a>-->
<!--                        <div class="selected-options"></div>-->

                        <!--                <ul id="filter-client-list" class="dropdown-content options-dropdown">-->
<!--                    <li class="search-wrap">-->
<!--                        <div class="input-field">-->
<!--                            <i class="material-icons prefix">search</i>-->
<!--                            <input type="search" class="search-box" id="search-box1" autocomplete="off">-->
<!--                            <label for="search-box1">Search</label>-->
<!--                        </div>-->
<!--                        <div class="search-result"></div>-->
<!--                    </li>-->
<!--                </ul>-->
                    </div>
                    <div class="col-4">
<!--                        <a class="dropdown-trigger btn btn-primary" href="#" data-target="filter-money-sites-list">MONEY SITES</a>-->

<!--                        <div class="selected-options"></div>-->
                        <!--                <ul id="filter-money-sites-list" class="dropdown-content options-dropdown">-->
<!--                    <li class="search-wrap">-->
<!--                        <div class="input-field">-->
<!--                            <i class="material-icons prefix">search</i>-->
<!--                            <input type="search" class="search-box" id="search-box2" autocomplete="off">-->
<!--                            <label for="search-box2">Search</label>-->
<!--                        </div>-->
<!--                        <div class="search-result"></div>-->
<!--                    </li>-->
<!--                </ul>-->

                        <div class="form-group">
                            <label>Money sites</label>
                            <select class="select2bs4"
                                    multiple="multiple"
                                    data-placeholder="Select a money sites"
                                    data-target="filter-money-sites-list"
                                    id="filter-money-sites-list"
                            >
                            </select>
                        </div>
                    </div>
                    <div class="col-5">
<!--                        <label for="datepicker">Диапазон дат</label>-->
<!--                        <input type="text" id="datepicker" class="form-control" placeholder="Выберите">-->

                        <div class="form-group">
                            <label>Диапазон дат</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control float-right" id="datepicker">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "lookerstudio/summaries.v2.html" %}

        <div class="row mb-4">
            <div class="col-xl-10 col-lg-9 col-md-12 col-sm-10">
                <div class="card">
                    <div class="card-body">
                        <canvas id="publicationChart"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-12 col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <canvas id="redirectsChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
          <div class="card-header">
            <h5>Домены PBN и публикации</h5>
          </div>
            <div class="card-body p-0">
                <table id="table_domain_and_pbn" class="table table-striped table-valign-middle mb-3">
                    <thead>
                    <tr>
                        <th>Клиент</th>
                        <th>Домен PBN</th>
                        <th>Дата создания</th>
                        <th>Всего публикаций</th>
                        <th>Последняя публикациия</th>
                        <th>Дней с последней публикации</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

                <ul class="pagination pagination-sm float-right me-3" id="pagination_domain_and_pbn"></ul>
            </div>
        </div>

        <div class="card mb-4">
          <div class="card-header">
            <h5>Ссылки на money-site</h5>
          </div>
            <div class="card-body p-0">
                <table id="table_links_to_money_sites" class="table table-striped table-valign-middle mb-3">
                    <thead>
                    <tr>
                        <th>Ссылка-донор</th>
                        <th>Акнкор</th>
                        <th>Ссылка на money-site</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>

                <ul class="pagination pagination-sm float-right me-3" id="pagination_links_to_money_sites"></ul>
            </div>
        </div>

        <div class="card mb-4">
          <div class="card-header">
            <h5>Анкоры</h5>
          </div>
            <div class="card-body p-0">
                <table id="table_anchor_counter_header" class="table table-striped table-valign-middle mb-3">
                    <thead>
                    <tr>
                        <th><button class="btn btn-small anchors--show-more">+</button> Анкор</th>
                        <th class="table_anchor-domain_name">Домен</th>
                        <th class="table_anchor-last-td">Количество ссылок с анкором</th>
                    </tr>
                    </thead>
                </table>
                <div class="scroll-table-body">
                    <table id="table_anchor_counter" class="table table-bordered table-striped table-hover">
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <table id="table_anchor_counter_footer" class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Общий итог</th>
                        <th class="total table_anchor-last-td"></th>
                    </tr>
                    </thead>
                </table>

                <ul class="pagination pagination-sm float-right me-3" id="pagination_anchor_counter"></ul>

            </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h5>Публикации</h5>
          </div>
            <div class="card-body p-0">
                <table id="table_publications"
                       class="table table-striped table-valign-middle mb-3">
                    <thead>
                    <tr>
                        <th><a href="">Домен PBN</a></th>
                        <th>URL</th>
                        <th>Заголовок h1</th>
                        <th>Кол-во заголовков h1 и h2</th>
                        <th>Кол-во символов</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>

                <ul class="pagination pagination-sm float-right me-3" id="pagination_publications"></ul>
            </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}