<div class="card mb-4">
    <div class="card-body">
        <div class="row ">
            <div class="col-2 col-lg-2 col-md-4 col-sm-12">
                <div id="count_domains">
                    <h5 class="text-center mb-3">PBN-доменов</h5>
                    <h6 class="card-subtitle mb-2"><strong>0</strong></h6>

    <!--                      <svg class="progress-bar" height="20" width="100%" display="block" style="overflow: visible">-->
    <!--                          <rect x="0" y="5" width="100%" height="15" rx="5" ry="10" fill="rgb(220,220,220, 0.5)"></rect>-->
    <!--                          <rect class="svg-percent" x="0" y="5" width="0%" height="15" rx="5" ry="10" fill="rgba(244,67,54,1)"></rect>-->
    <!--                          <text class="svg-text" x="167" y="35" text-anchor="end" font-size="10px" fill="rgb(77,77,77)"></text>-->
    <!--                      </svg>-->

                    <div class="progress progress-xs progress-striped active">
                        <div class="progress-bar bg-success" style="width: 0%"></div>
                    </div>

                    <span class="badge bg-danger mt-2 float-right svg-text"></span>
                </div>
            </div>

            <div class="col-2 col-lg-2 col-md-3 col-sm-12">
                <h5 class="text-center mb-3">Новых PBN-доменов</h5>
                <h6 class="text-center" id="count_new_domains"><strong>0</strong></h6>
            </div>

            <div class="col-1 col-lg-1 col-md-2 col-sm-12">
                <h5 class="text-center mb-3">Публикаций</h5>
                <h6 class="text-center" id="count_publications"><strong>0</strong></h6>
            </div>

            <div class="col-2 col-lg-2 col-md-2 col-sm-12">
                <h5 class="text-center mb-3">Новых публикаций</h5>
                <h6 class="text-center" id="count_new_publications"><strong>0</strong></h6>
            </div>

            <div class="col-2 col-lg-2 col-md-4 col-sm-12">
                <div id="count_money_links">
                    <h5 class="text-center mb-3">Ссылок на money</h5>
                    <h6 class="card-subtitle mb-2"><strong>0</strong></h6>

                    <div class="progress progress-xs progress-striped active">
                    <div class="progress-bar bg-success" style="width: 0%"></div>
                    </div>

                    <span class="badge bg-danger mt-2 float-right svg-text"></span>

    <!--                      <svg class="progress-bar" height="20" width="100%" display="block" style="overflow: visible">-->
    <!--                          <rect x="0" y="5" width="100%" height="15" rx="5" ry="10" fill="rgb(220,220,220, 0.5)"></rect>-->
    <!--                          <rect class="svg-percent" x="0" y="5" width="0%" height="15" rx="5" ry="10" fill="rgba(244,67,54,1)"></rect>-->
    <!--                          <text class="svg-text" x="167" y="35" text-anchor="end" font-size="10px" fill="rgb(77,77,77)"></text>-->
    <!--                      </svg>-->
                </div>
            </div>

            <div class="col-1 col-lg-1 col-md-3 col-sm-12">
                <div class="kpimetric" id="deadline">
                    <h5 class="text-center mb-3">Дедлайн</h5>
                    <div class="text-center valueLabel"></div>
                </div>
            </div>

            <div class="col-2 col-lg-2 col-md-3 col-sm-12">
                <div class="kpimetric" id="days_left">
                    <h5 class="text-center mb-3">Осталось дней</h5>
                    <div class="text-center valueLabel"></div>
                </div>
            </div>
        </div>
    </div>
</div>