{% extends 'project/layout.html' %}

{% block breadcrumps_projects %}
    <h1 class="h2">
        <a href="{% url 'index' %}">Проекты</a> ::
        <a href="{% url 'project_detail' pk=project.id %}">{{ project.name }}</a> ::
        Подключить сервис
    </h1>
{% endblock %}

{% block content_projects %}

    {% for service in services %}
        <div class="card mb-3">
            <div class="card-header">
                {{ service.name }}
            </div>
<!--          <img src="..." class="card-img-top" alt="...">-->
            <div class="card-body">
<!--            <h5 class="card-title"></h5>-->
                {% if service.description %}
                    <p class="card-text">{{ service.description }}</p>
                {% endif %}
                {% if service in project.services.all %}
                    <a href="{% url 'project_disconnect_service' pk=project.id service_id=service.id %}" class="btn btn-sm btn-danger btn-block">Отключить</a>
                {% else %}
                    <a href="{% url 'project_connect_service' pk=project.id service_id=service.id %}" class="btn btn-sm btn-primary btn-block">Подключить</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}

{% endblock %}
