{% extends 'project/layout.html' %}

{% block breadcrumps_projects %}
    <h1 class="h2">
        <a href="{% url 'index' %}">Проекты</a> ::
        <a href="{% url 'project_detail' pk=project.id %}">{{ project.name }}</a> ::
        {{ service.name }} :: Журнал
    </h1>
{% endblock %}

{% block content_projects %}

    <div class="mb-3"><a href="{% url 'project_service_jobs_log' pk=project.id service_id=service.id %}" class="btn btn-sm bg-warning">Общий лог</a></div>

    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>Дата старта</th>
            <th>Дата последнего запуска</th>
            <th>Статус</th>
            <th width="50">&nbsp;</th>
        </tr>
        {% for job in jobs %}
        <tr>
            <td>{{ job.id }}</td>
            <td>{{ job.created_at }}</td>
            <td>{% if job.last_repeat %}{{ job.last_repeat }}{% endif %}</td>
            <td>
                {% if job.status == 0 %}
                    <span class="badge bg-secondary">Поставлен в очередь. Ожидает запуска</span>
                {% elif job.status == 1 %}
                    <span class="badge bg-primary">Запущен</span>
                    <a href="{% url 'project_service_restart' pk=project.id service_id=service.id job_id=job.id %}" onclick="return confirm('Вы уверены?')">перезапустить</a>
                {% elif job.status == 2 %}
                    <span class="badge bg-success">Успешно завершён</span>
                {% elif job.status == 3 %}
                    <span class="badge bg-danger">Завершился ошибкой</span>
                {% elif job.status == 4 %}
                    <span class="badge bg-warning">Отложено до {{ job.delayed_at }}</span>
                {% endif %}

                {% if job.last_result %}<div style="margin-top:10px;font-size:12px;word-wrap: break-word;max-width:470px;">{{ job.last_result }}</div>{% endif %}
            </td>
            <td><a href="{% url 'project_service_job_journal' pk=project.id service_id=service.id job_id=job.id %}" class="badge btn-sm bg-warning">Лог</a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}