{% extends 'project/layout.html' %}

{% block page_id %}log{% endblock %}

{% block breadcrumps_projects %}
    <h1 class="h2">
        <a href="{% url 'index' %}">Проекты</a> ::
        <a href="{% url 'project_detail' pk=project.id %}">{{ project.name }}</a> ::
        {{ service.name }} ::
        <a href="{% url 'project_service_journal' pk=project.id service_id=service.id %}">Журнал</a>
    </h1>
{% endblock %}

{% block content_projects %}

    {% load static %}

<!--    <link rel="stylesheet" href="//cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css">-->
<!--    <script src="//cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>-->

    {% if results|length > 0 %}

        <p>
            <a href="{% url 'project_service_jobs_log_download' pk=project.id service_id=service.id download='download' %}" class="btn btn-sm btn-success">Скачать весь лог в формате CSV</a>
        </p>

        <form action="" method="get">
            <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="Поиск" value="{{ request.GET.search }}">
                <button class="btn btn-secondary">Найти</button>
            </div>
        </form>

        <table class="table table-striped" id="logTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>date</th>
                    <th>url</th>
                    <th>message</th>
                </tr>
            </thead>
            <tbody>
                {% for r in results %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ r.date }}</td>
                    <td>{{ r.url }}</td>
                    <td>{{ r.message }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if not job_id %}
            <p><small>Выводятся последние 500 записей</small></p>
        {% endif %}

    {% else %}
        <p>Результаты выполнения отсутствуют</p>
    {% endif %}

{% endblock %}