{% extends 'project/layout.html' %}
{% load dict_key %}

{% block breadcrumps_projects %}
    <h1 class="h2">
        <a href="{% url 'index' %}">Проекты</a> ::
        <a href="{% url 'project_detail' pk=project.id %}">{{ project.name }}</a> ::
        Настройка
    </h1>
{% endblock %}

{% block content_projects %}

    <form action="" method="post">
        {% csrf_token %}

        <p style="margin-bottom:50px">
            <b>Url исполнителя сервиса</b>
            <input type="hidden" name="setting_id" value="{{ url_setting.id }}">
            <input type="text" class="form-control" name="setting_value" value="{{ settings|dict_key:url_setting.id }}">
            <small>Полный урл будет иметь значение {урл_внешнего_исполнителя_сервиса}/startjob/{projectId}/{jobId}</small>
        </p>


        {% for setting in service.settings.all %}
            <p>
                <b>{{ setting.key }}</b>
                <input type="hidden" name="setting_id" value="{{ setting.id }}">
                <textarea name="setting_value" class="form-control" rows="6">{{ settings|dict_key:setting.id }}</textarea>
                {% if setting.description %}
                    <small>{{ setting.description }}</small>
                {% endif %}
            </p>

        {% endfor %}

        <p><button class="btn btn-success px-5" type="submit">Сохранить</button></p>

    </form>

{% endblock %}
