{% extends 'project/layout.html' %}
{% load dict_key %}

{% block page_id %}settings{% endblock %}

{% block breadcrumps_projects %}
    <h1 class="h2">
        <a href="{% url 'index' %}">Проекты</a> ::
        <a href="{% url 'project_detail' pk=project.id %}">{{ project.name }}</a> ::
        Настройка
    </h1>
{% endblock %}

{% block content_projects %}

    <form action="" method="post" class="list-group list-group-flush">
        {% csrf_token %}

<!--        <p style="margin-bottom:50px">-->
<!--            <b>Url исполнителя сервиса</b>-->
<!--            <input type="hidden" name="setting_id" value="{{ url_setting.id }}">-->
<!--            <input type="text" class="form-control" name="setting_value" value="{{ settings|dict_key:url_setting.id }}">-->
<!--            <small>Не заполнять, если сервис работает локально. Полный урл будет иметь значение {урл_внешнего_исполнителя_сервиса}/job/start/{projectId}/{jobId}</small>-->
<!--        </p>-->

        {% for setting in service.settings.all %}
            <div class="settings-row list-group-item">
                <p>
                    <b>{{ setting.key }}</b>
                    {% if setting.description %}
                        <br><small>{{ setting.description }}</small>
                    {% endif %}
                </p>

                <input type="hidden" name="setting_id" value="{{ setting.id }}">

                {% for setting_value in settings|dict_key:setting.id %}
                    <p><textarea name="setting_value" class="form-control" rows="6">{{ setting_value }}</textarea></p>
                {% endfor %}

                <p class="settings-row--value hidden"><textarea name="setting_value" class="form-control" rows="6"></textarea></p>

                <a href="#" class="btn btn-sm mb-3 btn-outline-secondary add-settings-value">Добавить</a>
            </div>
        {% endfor %}

        <br>

        <p><button class="btn btn-success px-5" type="submit">Сохранить</button></p>

    </form>

{% endblock %}
