{% extends 'project/layout.html' %}

{% block breadcrumps_projects %}
    <h1 class="h2">
        <a href="{% url 'index' %}">Проекты</a> ::
        <a href="{% url 'project_detail' pk=project.id %}">{{ project.name }}</a> ::
        {{ service.name }} ::
        Запустить
    </h1>
{% endblock %}

{% block content_projects %}

    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}

        {{ form.file }}
        {{ form.file.errors }}

        <button class="btn btn-sm btn-success w-100 mt-3">Запустить</button>

    </form>

{% endblock %}
